@model IEnumerable<CustomerInfo.Models.tblSalAreaToProvince>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalAreaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slpCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalAreaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slpCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
